<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
    <!-- Navigation-->
    <%- include('./partials/nav.ejs') %>
    
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../<%= blog.image %>')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h2><%- blog.title %></h2>
                        <span class="meta">Posted by
                            <a href="#"><%- blog.username %></a>
                            on <%= blog.createdAt.toDateString() %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <%- blog.body %>
                </div>
            <div>
                
                <% if (auth && blog.user && auth.toString() === blog.user._id.toString()) { %>
                    <!-- Only show the buttons if the logged-in user is the author -->
                    <a href="/blogs/edit/<%= blog._id %>">Edit Post</a>
                    <a href="#" onclick="deletePost('<%= blog._id %>')">Delete Post</a>
                <% } %>
            </div>
            </div>
        </div>
    </article>

    <!-- Footer-->
    <%- include('./partials/footer.ejs') %>

    <!-- JavaScript for deleting -->
    <script>
        const trashcan = document.querySelector('a.delete');

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/blogs/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE',
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err));
        });
    </script>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="./scripts.js"></script>
</body>
</html>
